/* Reset */
*{
    margin: 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
/* Section */
.firstline,.secondline{
    padding: 1%;
    width: 100%;
}
.product{
    float: left;
    width: 32.5%;
    height: 100%;
    position: relative;
}
.productmiddle{
    float: left;
    width: 32.5%;
    margin: 0px 15px;
    height: 100%;
    position: relative;
}
/* Text */
h2{
    text-transform: uppercase;
}
.price{
    color: red;
}
.old-price{
    text-decoration: line-through;
}
/* Tags */
.tags{
    position: absolute;
    bottom: 20%;
    left: 0px;
    display: inline;
    font-size: 30px;
}
.discount{
    background-color: #ec0037;
    color: white;
    margin-right: 5px;
    padding: 5px 10px;
}
.sustainability{
    color: white;
    background-color: #018759;
    padding: 5px 10px;
}
.heart{
    display: inline;
    position: absolute;
    top: 10%;
    right: 0px;
    background-color: white;
    padding: 15px;
    font-size: 25px;
}
.heart:hover{
    color: red;
}
/* Images */
img{
    width: 100%;
    object-fit: cover;
}
img.hidden{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}
.hover:hover{
    opacity: 0%;
    transition-duration: 0.7s;
}
.hover:not(:hover){
    opacity: 100%;
    transition-duration: 0.7s;
}