/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* Debug */
.product{ 
    width: 100%;
    max-height: 700px;
    max-width: 400px;
    margin: 100px;
    float: left;
    position: relative;
}
.firstline, .secondline{
    width: 100%;
}
/* Images */
img{
    width: 100%;
}
img.hidden{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}
.hover:hover{
    opacity: 0%;
    transition-duration: 0.7s;
}
.hover:not(:hover){
    opacity: 100%;
    transition-duration: 0.7s;
}

/* Text */
h2{
    text-transform: uppercase;
}
.price{
    color: red;
}
.old-price{
    text-decoration: line-through;
}

/* Tags */
.discount{
    display: inline;
    position: relative;
    top: -80px;
    left: 0px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 25px;
}
.heart{
    display: inline;
    position: relative;
    background-color: white;
    top: -525px;
    left: 275px;
    padding: 15px;
    font-size: 25px;
}
.heart:hover{
    color: red;
}
.sustainability{
    display: inline;
    color: white;
    background-color: green;
    position: relative;
    top: -80px;
    left: -50px;
    padding: 2px 5px;
    font-size: 25px;
}